{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content%}

    <body>

        <style>
            body {
                background-color: gray;

            }
        </style>
        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h3 class="text-center">Create your account</h3>

            <br>
            <br>

            <form action="" method="POST" autocomplete="off">
                {% csrf_token %}

                {{form.username|as_crispy_field}}
                <br>
                {{form.email|as_crispy_field}}
                <br>
                {{form.password1|as_crispy_field}}
                <br>
                {{form.password2|as_crispy_field}}


                <br>
                <button type="submit" class="btn btn-primary btn-lg w-100 btn-block p-2 bg-blue">
                    &nbsp; Create new account
                </button>
            </form>
        </div>
    </body>



{% endblock %}