{% include "store/base.html" %}

{% load static %}


{% block content%}

    <body>

        <style>
            body {
                background-color: gray;

            }
        </style>
        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h4>Welcome, <strong>{{user}}</strong></h4>

            <hr>
                <li>Check Orders</li>
                <li>Manage Profil</li>
                <li>Delete Account</li>


            <br>

            
        </div>

        <br>

        <div class="container bg-white shadow-md p-5 form-layout">
            <h4>Track your orders</h4>
            <hr>
            <br>
            <p>Track all of your orders </p>

            <a href="{% url 'account-logout' %}" class='btn btn-primary navabr-btn text-white'>My Orders</a>

        </div>

        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h4>Manage your account</h4>
            <hr>
            <br>
            <p>Update or Delete account</p>
            <a href="{% url 'profile-management' %}" class='btn btn-primary navabr-btn text-white'>Manage Profile</a>
            <br>
        </div>

        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h4>Manage your shipping informations</h4>
            <hr>
            <br>
            <p>Fill In your shipping address</p>
            <a href="{% url 'manage-shipping' %}" class='btn btn-primary navabr-btn text-white'>Manage Shipping Informations</a>
            <br>
        </div>
    </body>



{% endblock %}